body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
