.login-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-div h1 {
  font-size: 40px;
  margin: 0;
}

button {
  width: max-content;
  margin: 0 auto;
}

input {
  padding: 10px 15px;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.477);
  border-radius: 10px;
  outline: none;
  text-align: center;
}
