.card {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 80%;
  display: block;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 50%;
}

.content {
  text-align: center;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(0, 17, 255);
  font-weight: 600;
}
