.card {
  padding: 20px 20px;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.144);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.interests > p {
  margin: 5px;
}

a {
  background-color: #535cf2;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 7px 20px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}
